@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>NOTES</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ничего не успеваю</h2>
        <p> стоп, а что я планировал? </p>
    </div>
    <div class="col-md-4">
        <h2>Сегодня всё сделаю</h2>
        <p> или не сегодня </p>
        <p><a class="btn btn-default" href="#заметка">NOTES &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Хочу новый проект </h2>
        <p> зачем я набрал столько проектов? </p>
        <p><a class="btn btn-default"  href="#тег" >TEG &raquo;</a></p>
    </div>
</div>